.circle {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -o-border-radius: 9999px;
  border-radius: 9999px;
}
.half-circle {
  -webkit-border-radius: 0 0 9999px 9999px;
  -moz-border-radius: 0 0 9999px 9999px;
  -o-border-radius: 0 0 9999px 9999px;
  border-radius: 0 0 9999px 9999px;
}
.on-state {
  background-image: url('/_/img/nav_marker.png');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  color: #009999 !important;
}
#menu {
  display: none;
}
#jPanelMenu-menu {
  background-color: #ccc;
  -moz-box-shadow: inset 7px 0px 7px #aaa;
  -webkit-box-shadow: inset 7px 0px 7px #aaa;
  box-shadow: inset 7px 0px 7px #aaa;
}
#jPanelMenu-menu ul {
  margin-top: 20px;
}
#jPanelMenu-menu ul li {
  padding: 3px 12px 3px 14px;
}
#jPanelMenu-menu ul li a {
  color: #666666;
  text-decoration: none;
  font-size: 15px;
  display: block;
  padding: 10px 6px;
}
#jPanelMenu-menu ul li ul {
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 0px;
}
#jPanelMenu-menu ul li ul li {
  padding-right: 0;
}
#jPanelMenu-menu ul li ul li a {
  background-color: transparent!important;
  color: #666666!important;
}
#jPanelMenu-menu ul li ul li:last-child {
  margin-bottom: 0;
}
#jPanelMenu-menu ul li ul li.active a {
  color: #fff!important;
  background-color: #cd7713!important;
}
#jPanelMenu-menu ul li.active a,
#jPanelMenu-menu ul li.parent-active a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f99d32;
  color: #fff;
}
.no-bottom-margin {
  margin-bottom: 0!important;
}
#secondary-nav-bar {
  position: relative;
  background-color: #fff;
  opacity: 0.95;
  display: block;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
#secondary-nav-bar .sixteen ul {
  margin-left: 10px;
}
#secondary-nav-bar .sixteen ul li {
  padding-right: 10px;
  display: inline;
}
#secondary-nav-bar .sixteen ul li a {
  font-size: 12px;
  font-weight: 700;
  color: #315482;
  text-decoration: none;
}
#secondary-nav-bar .sixteen ul li a:hover {
  color: #000e0e;
}
#secondary-nav-bar .sixteen ul li.here a {
  color: #000e0e;
}
#secondary-nav-bar .twelve p {
  line-height: 33px;
  margin-bottom: 0;
  padding: 0 10px;
}
#secondary-nav-bar .twelve p a {
  color: #315482;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
#secondary-nav-bar .four ul {
  float: right;
  margin: 0;
}
#secondary-nav-bar .four ul li {
  display: inline;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0 5px;
}
#secondary-nav-bar .four ul li a {
  text-indent: -2000px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 26px;
  height: 26px;
}
#secondary-nav-bar .four ul li .social-facebook {
  background-image: url('/_/img/icon-facebook-dark.png');
}
#secondary-nav-bar .four ul li .social-twitter {
  background-image: url('/_/img/icon-twitter-dark.png');
}
#secondary-nav-bar .four ul li .social-linkedin {
  background-image: url('/_/img/icon-linkedin-dark.png');
}
.do-fix {
  position: fixed!important;
  z-index: 100000!important;
  top: 80px!important;
}
.special-box-1 {
  margin-bottom: 30px;
}
.special-box-1 h5 {
  font-size: 14px;
  line-height: 21px;
  background-color: #0f0a12;
  color: #fff;
  padding: 10px;
}
.special-box-1 div.box-content {
  padding: 20px 10px;
  background-color: #fff;
  position: relative;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.special-box-1 div.box-content p {
  margin-bottom: 20px;
}
.special-box-1 div.box-content div.box-extras {
  position: absolute;
  background-image: url('/_/img/bg-special-1.png');
  background-repeat: no-repeat;
  background-position: 12px 0;
  width: 100%;
  bottom: -14px;
  left: 0;
  height: 14px;
}
.special-box-1 div.box-content div.circle-pic {
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  -o-border-radius: 9999px;
  border-radius: 9999px;
  border: 3px solid #fff;
  height: 70px;
  width: 70px;
  background-color: #ddd;
  position: absolute;
  right: -10px;
  bottom: -34px;
}
.special-box-1 h6 {
  margin-top: 16px;
  line-height: 18px;
}
.special-box-1 h6 span {
  display: block;
  font-weight: 400;
  color: #777;
}
.special-box-2 {
  border-bottom: 4px solid #dcdcdc;
  margin-bottom: 30px;
}
.special-box-2 .wht-box {
  position: relative;
  margin-top: -4px;
  padding: 10px 10px 10px;
  background-color: #fff;
}
.special-box-2 .wht-box .half-cir {
  background-color: transparent;
  position: absolute;
  background-image: url('/_/img/bg-half-circle.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 60px;
  width: 100%;
  top: -30px;
  left: 0;
  text-align: center;
}
.special-box-2 .wht-box .half-cir img {
  margin-top: 10px;
}
.special-box-2 .wht-box h4 {
  font-size: 36px;
  line-height: 36px;
}
.special-box-2 .wht-box h6 {
  line-height: 18px;
  margin-bottom: 4px;
}
.special-box-2 .wht-box p {
  margin-bottom: 10px;
}
.link-box ul {
  margin-bottom: 30px;
}
.link-box ul li {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 21px;
}
.link-box ul li a {
  display: block;
  font-weight: 700;
  background-color: #0f0a12;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}
.link-box ul li a span {
  float: right;
  font-weight: 300;
  text-transform: uppercase;
}
.link-box ul li a:hover {
  background-color: #315482;
}
.factoid {
  background-color: #fff;
  padding: 40px 40px 15px 40px;
}
.factoid p {
  color: #666666;
  font-size: 19px;
  line-height: 28px;
  font-style: italic;
  font-family: Georgia;
}
.post-listings h4 {
  font-size: 18px;
  line-height: 35px;
  border-bottom: 7px solid #cbcbcb;
  padding-bottom: 14px;
  margin-bottom: 20px;
}
.post-listings li a {
  font-weight: 700;
  text-decoration: none;
}
.post-listings li a p {
  margin-bottom: 30px;
}
.post-listings li a span {
  display: block;
  color: #333;
  font-weight: 400;
}
.post-listings li a:hover p {
  color: #333;
}
.view-toggle {
  border-top: 1px solid #d2d2d2;
  border-bottom: 5px solid #d2d2d2;
  padding: 10px;
}
.view-toggle ul {
  margin-bottom: 0;
}
.view-toggle ul li {
  margin-bottom: 0;
  display: inline;
  font-weight: 700;
  color: #333;
  line-height: 24px;
  padding-right: 10px;
}
.view-toggle ul li a {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: -2000px;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.view-toggle ul li a:hover {
  opacity: 1;
}
.view-toggle ul li a.active {
  opacity: 1;
}
.view-toggle ul li a.v-grid {
  background-image: url('/_/img/icon-grid.png');
}
.view-toggle ul li a.v-list {
  background-image: url('/_/img/icon-list.png');
}
#toggle-container-grid {
  float: left;
  padding-top: 20px;
}
#toggle-container-grid .main-block {
  background-color: #fff;
  margin-bottom: 20px;
  height: 215px;
  background-repeat: no-repeat;
  background-position: 50% 36%;
  position: relative;
}
#toggle-container-grid .main-block h5 {
  display: block;
  bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  text-align: center;
  width: 100%;
}
#toggle-container-grid .main-block h5 span {
  display: inline-block;
  padding: 0 20px;
}
#toggle-container-grid .main-block:hover {
  background-color: #191919;
}
#toggle-container-grid .main-block:hover h5 {
  color: #fff;
}
#toggle-container-grid .main-block a.closer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-image: url('/_/img/icon-close.png');
  text-indent: -2000px;
  display: none;
  z-index: 20;
  cursor: pointer;
}
#toggle-container-grid .main-block a.clicker {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  display: block;
}
#toggle-container-grid .main-block.active {
  background-color: #191919;
}
#toggle-container-grid .main-block.active h5 {
  color: #fff;
}
#toggle-container-grid .main-block.active a.closer {
  display: block;
}
#toggle-container-grid .main-block.in-active {
  opacity: 0.45;
}
#toggle-container-grid .sub-block {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 36%;
  position: relative;
  height: 97px;
}
#toggle-container-grid .sub-block:first-child {
  margin-bottom: 20px;
  height: 98px;
}
#toggle-container-grid .no-show {
  display: none;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* #Basic Styles
================================================== */
body {
  background-color: #eaeaea;
  font-family: Georgia, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #777777;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */

  -webkit-text-size-adjust: 100%;
}
.wrapper {
  float: left;
  clear: both;
  width: 100%;
}
.container {
  position: relative;
}
/* #Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #181818;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px;
}
h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px;
}
h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}
h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}
h5 {
  font-size: 17px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 21px;
}
.subheader {
  color: #777;
}
p {
  margin: 0 0 35px 0;
  line-height: 24px;
}
p img {
  margin: 0;
}
p.lead {
  font-weight: 300;
  font-size: 23px;
  line-height: 34px;
  margin-bottom: 35px;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
  color: #333;
}
small {
  font-size: 80%;
}
/*	Blockquotes  */
blockquote,
blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}
blockquote {
  margin: 0 0 35px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd;
}
blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}
blockquote cite:before {
  content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
  color: #555;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 45px;
  height: 0;
}
/* #Links
================================================== */
a,
a:visited {
  color: #009999;
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #009999;
}
p a,
p a:visited {
  line-height: inherit;
}
/* #Lists
================================================== */
ul,
ol {
  margin-bottom: 35px;
}
ul {
  list-style: none outside;
}
ol {
  list-style: decimal;
}
ol,
ul.square,
ul.circle,
ul.disc {
  margin-left: 30px;
}
ul.square {
  list-style: square outside;
}
ul.circle {
  list-style: circle outside;
}
ul.disc {
  list-style: disc outside;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%;
}
ul ul li,
ul ol li,
ol ol li,
ol ul li {
  margin-bottom: 6px;
}
li {
  line-height: 18px;
  margin-bottom: 12px;
}
ul.large li {
  line-height: 21px;
}
li p {
  line-height: 21px;
}
/* #Images
================================================== */
img.scale {
  max-width: 100%;
  height: auto;
}
/* #Buttons
================================================== */
.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background: #000000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(1, #1b1b1b));
  background: -ms-linear-gradient(bottom, #000000, #1b1b1b);
  background: -moz-linear-gradient(center bottom, #000000 0%, #1b1b1b 100%);
  background: -o-linear-gradient(#1b1b1b, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b1b1b', endColorstr='#000000', GradientType=0);
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 35px;
  line-height: normal;
  padding: 15px 10px;
  font-family: Georgia, sans-serif;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: #333;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
  border-top: solid 1px #eeeeee;
  border-left: solid 1px #e5e5e5;
  border-right: solid 1px #e5e5e5;
  border-bottom: solid 1px #dddddd;
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* #Forms
================================================== */
form {
  margin-bottom: 35px;
}
fieldset {
  margin-bottom: 35px;
}
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Georgia, sans-serif;
  font-size: 13px;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 35px;
  background: #fff;
}
select {
  padding: 0;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #aaa;
  color: #444;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea {
  min-height: 60px;
}
label,
legend {
  display: block;
  font-weight: 700;
  font-size: 13px;
}
select {
  width: 220px;
}
input[type="checkbox"] {
  display: inline;
}
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444;
}
/* #Misc
================================================== */
.remove-bottom {
  margin-bottom: 0 !important;
}
.half-bottom {
  margin-bottom: 17.5px !important;
}
.add-bottom {
  margin-bottom: 70px !important;
}
/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0;
}
.container .column,
.container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.row {
  margin-bottom: 20px;
}
/* Nested Column Classes */
.column.alpha,
.columns.alpha {
  margin-left: 0;
}
.column.omega,
.columns.omega {
  margin-right: 0;
}
/* Base Grid */
.container .one.column,
.container .one.columns {
  width: 40px;
}
.container .two.columns {
  width: 100px;
}
.container .three.columns {
  width: 160px;
}
.container .four.columns {
  width: 220px;
}
.container .five.columns {
  width: 280px;
}
.container .six.columns {
  width: 340px;
}
.container .seven.columns {
  width: 400px;
}
.container .eight.columns {
  width: 460px;
}
.container .nine.columns {
  width: 520px;
}
.container .ten.columns {
  width: 580px;
}
.container .eleven.columns {
  width: 640px;
}
.container .twelve.columns {
  width: 700px;
}
.container .thirteen.columns {
  width: 760px;
}
.container .fourteen.columns {
  width: 820px;
}
.container .fifteen.columns {
  width: 880px;
}
.container .sixteen.columns {
  width: 940px;
}
.container .one-third.column {
  width: 300px;
}
.container .two-thirds.column {
  width: 620px;
}
/* Offsets */
.container .offset-by-one {
  padding-left: 60px;
}
.container .offset-by-two {
  padding-left: 120px;
}
.container .offset-by-three {
  padding-left: 180px;
}
.container .offset-by-four {
  padding-left: 240px;
}
.container .offset-by-five {
  padding-left: 300px;
}
.container .offset-by-six {
  padding-left: 360px;
}
.container .offset-by-seven {
  padding-left: 420px;
}
.container .offset-by-eight {
  padding-left: 480px;
}
.container .offset-by-nine {
  padding-left: 540px;
}
.container .offset-by-ten {
  padding-left: 600px;
}
.container .offset-by-eleven {
  padding-left: 660px;
}
.container .offset-by-twelve {
  padding-left: 720px;
}
.container .offset-by-thirteen {
  padding-left: 780px;
}
.container .offset-by-fourteen {
  padding-left: 840px;
}
.container .offset-by-fifteen {
  padding-left: 900px;
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px;
  }
  .container .column,
  .container .columns {
    margin-left: 10px;
    margin-right: 10px;
  }
  .column.alpha,
  .columns.alpha {
    margin-left: 0;
    margin-right: 10px;
  }
  .column.omega,
  .columns.omega {
    margin-right: 0;
    margin-left: 10px;
  }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }
  .container .one.column,
  .container .one.columns {
    width: 28px;
  }
  .container .two.columns {
    width: 76px;
  }
  .container .three.columns {
    width: 124px;
  }
  .container .four.columns {
    width: 172px;
  }
  .container .five.columns {
    width: 220px;
  }
  .container .six.columns {
    width: 268px;
  }
  .container .seven.columns {
    width: 316px;
  }
  .container .eight.columns {
    width: 364px;
  }
  .container .nine.columns {
    width: 412px;
  }
  .container .ten.columns {
    width: 460px;
  }
  .container .eleven.columns {
    width: 508px;
  }
  .container .twelve.columns {
    width: 556px;
  }
  .container .thirteen.columns {
    width: 604px;
  }
  .container .fourteen.columns {
    width: 652px;
  }
  .container .fifteen.columns {
    width: 700px;
  }
  .container .sixteen.columns {
    width: 748px;
  }
  .container .one-third.column {
    width: 236px;
  }
  .container .two-thirds.column {
    width: 492px;
  }
  /* Offsets */
  .container .offset-by-one {
    padding-left: 48px;
  }
  .container .offset-by-two {
    padding-left: 96px;
  }
  .container .offset-by-three {
    padding-left: 144px;
  }
  .container .offset-by-four {
    padding-left: 192px;
  }
  .container .offset-by-five {
    padding-left: 240px;
  }
  .container .offset-by-six {
    padding-left: 288px;
  }
  .container .offset-by-seven {
    padding-left: 336px;
  }
  .container .offset-by-eight {
    padding-left: 384px;
  }
  .container .offset-by-nine {
    padding-left: 432px;
  }
  .container .offset-by-ten {
    padding-left: 480px;
  }
  .container .offset-by-eleven {
    padding-left: 528px;
  }
  .container .offset-by-twelve {
    padding-left: 576px;
  }
  .container .offset-by-thirteen {
    padding-left: 624px;
  }
  .container .offset-by-fourteen {
    padding-left: 672px;
  }
  .container .offset-by-fifteen {
    padding-left: 720px;
  }
}
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  .container {
    width: 300px;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 300px;
  }
  /* Offsets */
  .container .offset-by-one,
  .container .offset-by-two,
  .container .offset-by-three,
  .container .offset-by-four,
  .container .offset-by-five,
  .container .offset-by-six,
  .container .offset-by-seven,
  .container .offset-by-eight,
  .container .offset-by-nine,
  .container .offset-by-ten,
  .container .offset-by-eleven,
  .container .offset-by-twelve,
  .container .offset-by-thirteen,
  .container .offset-by-fourteen,
  .container .offset-by-fifteen {
    padding-left: 0;
  }
}
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px;
  }
  .container .columns,
  .container .column {
    margin: 0;
  }
  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .four.columns,
  .container .five.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .sixteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
    width: 420px;
  }
}
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  
}
